#Titulo {
  color: rgb(139, 119, 4);
  font-size: 75px;
}
#Subtitulos {
  color: rgb(65, 60, 0);
  font-size: 50px;
}
#Subtitulos2 {
  color: rgb(92, 42, 2);
  font-size: 35px;
}
#links {
  color: rgb(55, 55, 177);
  font-size: 30px;
}
#filmes {
  color: rgb(61, 15, 40);
  font-size: 30px;
}
